.active-detail{
  .banners{
    position: relative;
    .swiper-container{
      .swiper-slide{
        height: 450px;
        background: #42b983;
      }
    }
  }
  .introduce{
    background: #fff;
    .top{
      padding: 25px 20px 0px 20px;
      .Nname{
        font-size: 30px;
        font-weight: bold;
      }
      .tittle{
        margin-bottom: 10px;
        overflow: hidden;
        line-height: 50px;
        .mylogo{
          width: 55px;
          height: 55px;
          background-image:url("../images/xunlulogo.jpg") ;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius:30px;
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
          margin-left: 5px;
        }
        .companyName{
          float: left;
          font-size: 28px;
          margin-left: -45px;
        }
        .timers{
         float: right;
          width: 350px;
          .tittle{
            font-size: 25px;
          }
          .text{
            color: red;
            font-size: 25px;
          }
          .isOver{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
          }
        }
      }
      .pricePlace{
        overflow: hidden;
        margin-top: 10px;
        .price{
          float: left;
          font-size: 35px;
          color: red;
        }
        .place{
          float: right;
          font-size: 20px;
        }
      }
    }
    .bottom{
      padding: 20px;
      border-top: 0.5px solid #DEDEDE;/*px*/
      border-bottom: 0.5px solid #DEDEDE;/*px*/
      overflow: hidden;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
      .item{
        .queenCount,.peopleCount,.support{
          width: 210px;
          float: left;
          .title,.text{
            text-align: center;
            margin: 0 auto;
          }
          .title{
            font-size: 28px;
          }
          .text{
            color: red;
            font-size: 24px;
          }
        }
        .peopleCount{
          border-right: 1px solid #DEDEDE;/*px*/
          border-left: 1px solid #DEDEDE;/*px*/
        }
        .targetPriceName,.targetPrice{
          width: 320px;
          float: left;
          .title,.text{
            text-align: center;
            margin: 0 auto;
          }
          .title{
            font-size: 28px;
          }
          .text{
            color: red;
            font-size: 28px;
            font-weight: bold;
          }
        }
        .targetPrice{
          border-left: 1px solid #DEDEDE;/*px*/
        }
      }
    }
  }
  .content{
    padding: 0 10px;
    p{
      padding: 0;
      img {
        width: 100%;
      }
    }
  }
  .btns{
    overflow: hidden;
    position: fixed;
    width: calc(100% - 1px);
    display: flex;
    //left: 10px;
    bottom: 0px;
    .btnOvers{
      width: 100%;
      //margin-left: -20px;
      height: 66px;
      background-color: #E5E5E5;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    .Crowd{
      height: 80px;
      border-radius: 5px;
      background-color: #cc1c24;
      //margin: 0 0px;
      color: #ffffff;
      /*border: 1px solid #DEDEDE;!*px*!*/
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      flex: 1;
    }

  }
  .footerWrap{
    //padding: 0 16px;
    .footer{
      display: flex;
      height: 120px;
      width: 100%;
      //background-color: #DEDEDE;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
    }
  }

}
